.navbar .navbar-brand {
    color: rgba(255,255,255,.85);
    font-size:1rem;
    padding-top: .4rem;
}
.btn,
.active {
    transition: .4s;
}
a{
    color: initial;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}